/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  background-color:aliceblue ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item {
  border-radius: 10px;
  margin: 10px;
  text-align: left;
  position: relative;
  width: 30%;
  background-color: rgb(152, 200, 237);
  box-shadow: none;
}
.item:hover {
  box-shadow: 0px 0px 5px 5px black;
}

.item h1 {
  text-align: center;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details{
  text-align: left;

}
